body {
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #FCEDDA;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.description{
    display: block;
    flex-wrap: wrap;
    text-align: center;
}

.card {
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 2px #ec8d7c;
    border-radius: 10px;
    
    
}

.price{
    text-transform: uppercase;
    font-size: larger;
}


.img {
    height: 200px;
    width: 300px;
    object-fit: scale-down;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aliceblue; */
}

.show{
    display: none;
}

.header{
    width: 100%;
    /* overflow: hidden; */
    background-color: #EE4E34;
    color: aliceblue;
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
}
header img{
    object-fit: cover;
    /* margin-top: 20px; */
}



h3>a{
    margin: 20px;
    padding: 10px;
}

h3>a:hover{
    background-color: white;
    color: black;

}

a{
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
}

nav{
    display: inline-flex; 
    flex-direction: row;
    text-align: center;
    margin: 20px;
}

.description{
    width: 100%;
}

.cart-img{
    object-fit: scale-down;
    height: 100px;
    width: 100px;
}

#cartList{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #ec8d7c;

    
}

.td1{
    width: 25%;
    /* border: 2px solid yellow; */
}

.pdetail{
    display: flex;
    flex-direction: row;
     flex-wrap: wrap;
    width: fit-content;
    /* border: 2px solid blue; */
    margin-inline:auto;
    align-items: center;
    

}

#order-div
{
    text-align: center;
    /* background-color: black; */
}
#order-btn{
    border: 2px solid green;
    background-color: #CBFFA9;
    height: 30px;
    width: 150px;
    text-decoration: solid;
    /* border: 2px solid black; */
    border-radius: 10px;
    color: green;
    font-weight: bolder;
    margin-bottom: 10px;
}
#order-btn:hover{
    cursor: pointer;
    background-color: #FCEDDA;
    color: green;
}

.remove-btn{
    /* border: none !important; */
    background-color:#FF6666;
    height: 30px;
    width: 70px;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.remove-btn:hover{
    cursor: pointer;
    background-color: #FCEDDA;
    color: #FF6666;
    height: 31px;
    width: 71px;

}

.input-field{
    margin: 20px;
    border: 2px solid black;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 5px ;
}

.payment{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
    align-items: center;
}

#confirm
{
    background-color: rgb(54, 190, 54);
    height: 30px;
    width: 150px;
    text-decoration: solid;
    border: 2px solid black;
    border-radius: 10px;
}

.small-btn{
    border: 1px solid black;
    /* background-color: lightslategray; */
    margin: 10px;

}
.small-btn:hover{
    border: 1px solid black;
    background-color: #ec8d7c;
    margin: 10px;

}

.filters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    /* border: 2px solid red; */
}

#search{
    box-shadow: 0px 0px 5px 2px #ec8d7c;
    border: 0px;
    width: 30%;
    padding: 10px;
    height: max-content;
    border-radius: 10px;
    margin-top: 20px;
    margin-inline: 10px;


}

#cat{
    background-color: white !important;
    border: none;
    height: 35px !important;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #ec8d7c;
    /* height: max-content; */
    margin-inline: 10px;
    padding: 10px;
    text-align: center;
    width: 30%;
}


 .icon{
    display: none;
    position: absolute;
    right: 20px;
    top:40px;
    font-size: larger;

}

 @media screen and (max-width:720px) {
    .header .icon{
        display: block;
    }
    #items{
        font-size: small;
    }
 }

 @media screen and (max-width:720px) {
    .navbar{
        display: none;
    }

nav{
    display:flex; 
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    /* margin: 20px; */
}

nav>h3{
    width: 100%;
    border-bottom: 2px solid #ec8d7c;
    margin: 10px;
    padding: 10px;
}
a{
    font-size: medium;
}

 }
/* mobile header styling */
 .mobile-header{
    /* border: 2px solid black; */
    background-color: #EE4E34;
    /* display: block; */
    width: fit-content;
    position: absolute;
    right: 0;
    top: 20%;
    top: 102px;
    /* flex-direction: column; */
    height: fit-content;
    box-shadow: 0px 0px 5px 2px #ec8d7c;

 }


 /* cart item box */
 .cartItemBox{
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    background-color: #EE4E34;
    box-shadow: 0px 0px 5px 2px #ec8d7c;
    border-radius: 30px ;
    text-align: center;
    margin: 10px;
    padding: 10px;
    opacity: 0.8;
 }
 .cartItemBox:hover{
    opacity: 1;
 }

 #no-of-Items, #no-of-quan{
    margin: 20px;
    font-size: small;
    font-weight: bolder;
 }


 /* cart table */

 .td2{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* width:100%; */
    height: 100% !important;
 }
 .td2>h5{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
 }

 .deltd{
    width: 15%;
 }



 /* modal  */

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #FCEDDA;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* modal end  */

  .delIcon{
    display: none;
    height: 30px;
    width: fit-content;
  }

  .payment>table{
    /* border: 2px solid red; */
    box-shadow: 0px 0px 5px 2px #ec8d7c;

    width: 100%;
    padding: 20px;
  }




  @media screen and (max-width:720px){

    .remove-btn{
        display: none;
    }
    .delIcon{
        display: flex;
        margin-inline: 10px;
    }
    #cartList{
        font-size: small;
    }
    
  }






